.App{
  margin: 0px;
  padding: 0px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.front-page{
  margin: auto;
  color: white;
  text-align: center;
  margin-top: calc(25%)
}

h1{
  text-shadow: 0px 0px 7px #9D4EDD;
  font-size: 3em;
  padding: 2%;

}

html{
  background-image: url("./images/purpleBack.jpg"), linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
  background-blend-mode: overlay;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100%;
}

.fp-btn{
  color: white;
  background-color: #10002B;
  font-size: 1.2em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 0px 5px #9D4EDD;
}

@media only screen and (max-width: 480px){
  .front-page{
    margin-top: calc(60%)
  }

  .fp-btn{
    padding: 3%;
    margin: 2%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 880px){
  .front-page{
    margin-top: 30%;
  }
  .fp-btn{
    padding: 15px;
    margin: 10px;
  }
}

@media only screen and (min-width: 881px){
  .front-page{
    margin-top: 18%;
  }
  .fp-btn{
    padding: 15px;
    margin: 10px;
  }

}
