.App{
  margin: 0px;
  padding: 0px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.front-page{
  margin: auto;
  color: white;
  text-align: center;
  margin-top: calc(25%)
}

.map-container{
  padding: 2%;
  width: 90%;
  height: 20vh;
}

h1{
  text-shadow: 0px 0px 7px #9D4EDD;
  font-size: 3em;
  padding: 2%;
  color: white;
}

.locationH1{
  font-size: 2em;
}

.infotext{
  font-size: 0.8em;
  padding: 1%;
}

.locationName{
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: 0px 0px 7px #9D4EDD;
}

.ylablock{
  color: white;
  width: 100%;
  background-color:  #10002B;
  padding: 2%;
  border-style: solid;
  border-width: 1px;
}

.saannot{
  color: white;
  background-color: #240046;
  margin: 0%;
  padding: 2%;
  font-size: 1em;
  line-height: 1.5;
}

.songList{
  color: white;
  background-color: #240046;
  padding: 2%;
  border-style: solid;
  border-width: 1px;
  border-color: #9D4EDD;
  font-size: 1em;
  font-weight: 300;
}

.song{
  color: white;
  width: 100%;
  background-color: #3C096C;
  padding: 2%;
  margin: 0px;
}

.locationBox{
  color:white;
  padding: 2%;
  width: 100%;
  background-color: #10002B;
  display: flex;
  flex-direction: row;
  margin: 1% 0% 1% 0%;
}

td{
  width: 50vw;
}

.homeLink{
  margin: 20px;
}

html{
  background-image: url("./images/purpleBack.jpg"), linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
  background-blend-mode: overlay;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.fp-btn{
  color: white;
  background-color: #10002B;
  font-size: 1.2em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 0px 5px #9D4EDD;
}

@media only screen and (max-width: 480px){
  .front-page{
    margin-top: calc(40%)
  }

  .fp-btn{
    padding: 3%;
    margin: 2%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 880px){
  .front-page{
    margin-top: 25%;
  }
  .fp-btn{
    padding: 15px;
    margin: 10px;
  }
}

@media only screen and (min-width: 881px){
  .front-page{
    margin-top: 15%;
  }
  .fp-btn{
    padding: 15px;
    margin: 10px;
  }

}
